#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.custom-input {
    background-color: whitesmoke;
    color: black;
    padding: '10px';
    width: '300px';
}

ul {
    list-style: none; /* Remove bullets */
    padding: 0;
}

li {
    margin-bottom: 10px; /* Space between list items */
}

a {
    text-decoration: none; /* Remove underline */
    color: #007bff;        /* Default link color */
    font-weight: bold;
}

a:hover {
    color: #0056b3;        /* Hover color */
    cursor: pointer;       /* Pointer cursor to indicate clickable */
}